<div id="<%= dom_id customer_success_manager %>">
  <dl class="row mb-0">
    <dt class="col-sm-3">First name</dt>
    <dd class="col-sm-9 text-sm-end">
      <%= customer_success_manager.first_name %>
    </dd>
    <dt class="col-sm-3">Last name</dt>
    <dd class="col-sm-9 text-sm-end">
      <%= customer_success_manager.last_name %>
    </dd>
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9 text-sm-end">
      <%= customer_success_manager.email %>
    </dd>
  </dl>
</div>
